*,
html {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  text-align: center;
  opacity: 0.9;
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
  margin-top: 2rem;
}

h4 {
  font-size: 2rem;
  margin: 2rem 0;
}

h5 {
  font-size: 2rem;
  margin: 2rem auto;
}

/* Header section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 7rem;
  border-bottom: 1px solid seashell;
  background-color: black;
  width: 100%;
}
.nav__link:visited,
.nav__link:link,
.nav__link:active {
  color: seashell;
  font-size: 2rem;
  margin-right: 2rem;
  text-decoration: underline;
}

header img {
  height: 5rem;
  margin-left: 1rem;
}

/*Banner Section */

.section-banner {
  width: 120rem;
  height: 77rem;
  margin: 7rem auto;
  background-image: url("../img/mission.webp");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.section-banner__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Tea of the month */

.section-month {
  width: 100rem;
  margin: 5.5rem auto;
}

.section-month__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  margin: 1.5rem;
}

figure img {
  width: 30rem;
  height: auto;
}

/* Location */

.section-location {
  margin: 0 auto;
  background-image: url("../img/img-locations-background.webp");
  background-size: cover;
  height: 50rem;
  width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-location__addresses {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.section-location__address {
  width: 30rem;
  height: 30rem;
  background-color: black;
  margin: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contact */

.contact {
  width: 100%;
  margin: 5rem auto;
}

/* Footer */

footer {
  width: 100%;
}

footer h5 {
  float: left;
  margin: 3rem 2rem;
}
